@import '../../constatns/variables.scss';
.bottommorph-container{
    padding-top:105px;
    width: 100%;
    z-index: -100;
    img{
        width: 60vw;
        height: auto;
        @include media-query-phone {
            margin-left: 0;
            width:100vw;
        }
    }
}