@import '../../constatns/variables.scss';

.contact-container{
    margin-top: 25px;
    h1{
        line-height: normal;
        font-size: 90px;
        text-align: center;
        letter-spacing: -1.5px;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include media-query-phone {
            font-size: 50px;
            letter-spacing: 0px;
        }
    }

    .contact-paragraph {
        padding-top: 25px;
        max-width: 300px;
        margin: 0 auto;
        p {
            text-align: left;
            font-style: normal;
            font-weight: normal;
            line-height: 22px;
            font-size: 18px;
            color: #323737;
        }
    }

    .button-container {
        padding-top: 20px;
        padding-left: 10px;
        max-width: 330px;
        margin: 0 auto;
        display: flex;
        .button {
            text-align: center;
            padding: 5px 5px 5px 5px;
            button {
                padding: 5px 48px;
                background-color: white;
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
                text-decoration: none;
                line-height: 22px;
                font-size: 16px;
                text-align: center;
                letter-spacing: -0.5px;
                color: #323737;
                border:none;
            }
        }
    }
}